{% extends "Admin/index.twig" %}{% block title %}
News
{% endblock %}
{% block header %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h4><strong>News</strong> Dashboard</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-info" href="#" data-bs-toggle="modal" data-bs-target="#AddNewsModal">Add
                        News</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    News {{script|raw}}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table" id="news">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Text</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Aktion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for news in newsArray %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{news.news_title}}</td>
                                    <td>{{news.news_text|u.truncate(50, ' ...')}}</td>
                                    <td>{{news.author|capitalize}}</td>
                                    <td>{{news.create_date|date("d. M Y")}}</td>
                                    <td><a class="btn btn-danger"
                                            href="/panel/news/delete/{{news.news_uuid}}">Löschen</a></td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left show" id="AddNewsModal" tabindex="-1" role="dialog"
    aria-labelledby="AddNewsModalLabel1" aria-modal="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddNewsModalLabel1">Add News</h5>
                <button type="button" class="close rounded-pill" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form action="/panel/news" method="post">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="news_title">News Title</label>
                            <input type="text" class="form-control" name="news_title" id="news_title" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="news_category">News Category</label>
                            <select class="form-control" name="news_category" id="news_category">
                                <option value="1">News</option>
                                <option value="2">Patchlogs</option>
                                <option value="3">Events</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <div id="editor"></div>
                            <input type="hidden" name="news_text" id="quill_html" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="submit" class="btn btn-primary ml-1">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Accept</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>
    const dataTable = new simpleDatatables.DataTable("#news")
</script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });

    quill.on("text-change", function (delta, oldDelta, source) {
        document.getElementById("quill_html").value = quill.root.innerHTML;
    });
</script>

{% endblock %}